
h1{
  text-shadow: 5px 5px rgb(0, 0, 0);  
}

h1
{
  color:rgb(92, 189, 235);text-indent: 220px; font:bolder 
  
}
h1{
  font-size: 70px;
}
p
{
    text-indent: 30px;
    font-style: italic;
}

.web-color
{
    background-color: #000933 ;
    color:rgb(198, 198, 240)
}

body
{
  font-family: 'Courier New', monospace;
 text-align:left;
}
h3{
  text-indent: 400px; 
  text-shadow: 5px 5px rgb(0, 0, 0); 
  
}
.blue-background
{
  background-color: #000933 ;
  color:rgb(207, 231, 241)
}

img {
  border-radius: 8px; border: 10px solid rgb(31, 6, 100)
}

img
{
width:500px
}
.banner
{
  background-image: url(https://cdn.wallpapersafari.com/16/98/a5RSbA.jpg); border: 10px solid rgb(92, 189, 235);
}

table {
  border-color; width: 
  width: 900px;
}
