
h1{
  text-shadow: 5px 5px rgb(0, 0, 0);  
}

h1
{
  color:rgb(92, 189, 235);text-indent: 250px; font:bolder 
  
}
h1{
  font-size: 70px;
}
p
{
    text-indent: 30px;
    font-style: italic;
}

.web-color
{
    background-color: #000933 ;
    color:rgb(198, 198, 240)
}

body
{
  font-family: 'Courier New', monospace;
 text-align:left;
}
h3{
  text-indent: 500px; 
  font-style:italic 
}


img {
  border-radius: 8px; border: 10px solid rgb(92, 189, 235)
  
}
.banner
{
  background-image: url(https://cdn.wallpapersafari.com/16/98/a5RSbA.jpg); border: 10px solid rgb(92, 189, 235);
}
